.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-rows: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Timeline */

.timeline {
  padding-left: 5rem;
}

.timeline-header {
	padding: 0 3em 2em 3em;
	position: relative;
	color: rgba(black, .7);
  border-left: 2px solid black;
}

.timeline-header::after {
  width: 60px;
  height: 8px;
  display: block;
  top: 1.875rem;
  position: absolute;
  left: -32px;
  content: '';
  border: 2px solid black;
  border-radius: 7px;
  background: white;
}

.timeline-footer {
  border-left: 2px solid black;
  color: rgba(black, .7);
	padding: 0 3em 2em 3em;
  position: relative;
}

.timeline-footer::after {
  width: 60px;
  height: 8px;
  display: block;
  top: 1.875rem;
  position: absolute;
  left: -32px;
  content: '';
  border: 2px solid black;
  border-radius: 7px;
  background: white;
}

.timeline-row {
	padding: 0 3em 2em 3em;
	position: relative;
	color: rgba(black, .7);
  border-left: 2px solid black;
}

.timeline-row::after {
  width: 60px;
  height: 1px;
  display: block;
  top: 1em;
  position: absolute;
  left: -32px;
  content: '';
  border: 2px solid black;
  background: white;
}

.timeline-event {
  width: 254px;
}